body {
    background-color: grey;
}

h1 {
    font-family: Garamond, serif; text-align:center; font-size: 150px
}

.button{
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    display: block;
    font-size: 10px;
    margin: 4px 2px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.button1 {
    background-color: white;
    color: black;
    border: 2px solid black;
}

.button1:hover {
    background-color: #04AA6D;
}

